/* Fonte DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* Fonte inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

:root {    
    /* Cores */
    --branco: #f6f6f6;
    --cinza: #c4c4c4;
    --preto: #12141d;
    --amarelo: #ffc448;
    --azul-claro: #6244c5;
    --azul-escuro: #252439;
  
    /* Tipografia */
    --Fonte-inter: 'Inter', sans-serif;
    --Fonte-DMSANS: 'DM Sans', sans-serif;

    /* Tamanhos */
    --tamanho-texto: 16px;
    --tamanho-texto-maior: 20px;
    --tamanho-titulo: 50px;
    --tamanho-botão: 15px 30px 16px;
    --borda-botão: 18px;
}

/* Reset Css */

html,
body,
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style:none;
    text-decoration: none;
    border: 0;
    scroll-behavior: smooth;
    }

/* Nav */

header {
    height: 100vh;
    background-color: var(--azul-escuro);
}

nav {
    padding: 20px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-escuro);
    width: 100vw;
    position: fixed;
}

.portfolio_logo {
    font-size: var(--tamanho-texto-maior);
    color: var(--amarelo);
    font-family: var(--Fonte-DMSANS);
    cursor: default;
}

.nav_lista {
    display: flex;
    justify-content: center;
    gap: 35px;
}


.nav_item {
    font-size: var(--tamanho-texto-maior);
    font-family: var(--Fonte-inter);
}

nav a {
    color: var(--cinza);
}

nav a:hover {
    color: var(--branco);
}

.nav_botão {
    background-color: var(--branco);
    color: var(--preto);
    font-size: var(--tamanho-texto);
    font-weight: 700;
    padding: 9px 30px 10px;
    border-radius: var(--borda-botão);
    font-family: var(--Fonte-DMSANS);
    cursor: pointer;
    transition: .7s;
}

.nav_botão:hover{
    background-color: var(--amarelo);
}

/* Header */

.principal_header {
    padding-top: 2%;
    height: 100vh;
    padding-left: 87px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_header {
    height: 50px;
    padding-left: 15px;
}

.nome {
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-titulo);
    line-height: 1.2;
    color: var(--branco);
    padding-bottom: 7px;
}

.profissão {
    background: transparent;
    position: relative;
    z-index: 1;
    padding-left: 90px;

    font-family: var(--Fonte-inter);
    color: var(--branco);
    font-size: var(--tamanho-texto-maior);
    padding-bottom: 25px;
}

.profissão::before {
    content: "";
    position: absolute;
    width: 80px;
    top: 25%;
    right: 250px;
    height: 1px;
    background: var(--branco);
    z-index: 0;
}


.principal_header p {
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto);
    color: var(--cinza);
    margin-top: 25px;
    padding-bottom: 50px;
    line-height: 26px;
}

.header_botão {
    padding: var(--tamanho-botão);
    background-color: var(--azul-claro);
    color: var(--branco);
    font-weight: 700;
    border-radius: var(--borda-botão);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto);
    transition: .7s;
}

.header_botão:hover {
    background-color: var(--branco);
    color: var(--preto);
}

.link_port {
    color: var(--branco);
    font-family: var(--Fonte-DMSANS);
    font-weight: 700;
    font-size: var(--tamanho-texto);
    padding-left: 20px;
    position:relative;
    text-decoration:none;
    display:inline-block;

    padding-bottom: 80px;
}

.link_port:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--cinza);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.link_port:hover:after {
    transform: scaleX(1);
    transform-origin:0 50%;
}

.pular {
    font-family: var(--Fonte-inter);
    color: var(--cinza)
}

.circulo {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    font-family: var(--Fonte-inter);
    text-align: center;
    font-size: 20px;
}

.prox-sessão {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Sobre */

#sobre {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 100px 130px ;

}

#sobre img {
    width: 450px;
    height: auto;
    border-bottom: 5px solid var(--amarelo);
}

#sobre h1 {
    color: var(--branco);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-titulo);
    text-align: left;
    padding-bottom: 30px;
}

#sobre p {
    color: var(--branco);
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto-maior);
    text-align: left;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 50px;
}

.sobre_mim {
    align-items: center;
    max-width: 850px;
}

.pulseira_botão {
    padding: var(--tamanho-botão);
    border-radius: var(--borda-botão);
    background-color: var(--amarelo);
    color: var(--preto);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto);
    font-weight: 700;
    cursor: pointer;
}

#video-yt {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    display: none;
}

#video-yt iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid var(--branco);
    object-fit: cover;
}

#video-yt span {
    position: absolute;
    top: 5%;
    right: 20px;
    font-size: 50px;
    color: var(--branco);
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

/* Habilidades */

#habilidades {
    display: flex;
    padding: 150px 230px ;
    background-color: var(--azul-escuro);
}


#habilidades .esquerda h1 {
    color: var(--branco);
    font-size: var(--tamanho-titulo);
    font-family: var(--Fonte-DMSANS);
    padding-bottom: 50px;
    width: 50%;
}

#habilidades .esquerda p {
    color: var(--cinza);
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto);
    line-height: 2rem;
    padding-bottom: 30px;
    width: 60%;
}

.curriculo_botão {
    padding: var(--tamanho-botão);
    background-color: var(--azul-claro);
    color: var(--branco);
    font-weight: 700;
    border-radius: var(--borda-botão);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto);
    transition: .7s;
    cursor: pointer;
}

.bx-download {
    color: var(--branco);
    padding-left: 10px;
}

#habilidades .direita {
    width: 50%;
}

.filtros ul {
    display: flex;
    gap: 140px;
}

.filtro {
    color: var(--branco);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto-maior);
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 50px;
}

.habilidade {
    color: var(--branco);
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto-maior);
    font-weight: 700;
}

#Habilidades {
    gap: 40px;
    display: none;
    animation: fadeIn .5s;
}

.html {
    grid-row: 1;
    grid-column: 1;
}

.css {
    grid-row: 1;
    grid-column: 2;
}

.js {
    grid-row: 1;
    grid-column: 3;
}

#Formação {
    gap: 40px;
    display: grid;
    animation: fadeIn .5s;
}

.emedio {
    grid-row: 1;
    grid-column: 1;
}

.faculdade {
    grid-row: 2;
    grid-column: 1;
}

.eletrica {
    grid-row: 1;
    grid-column: 2;
}

#Formação h3 {
    color: var(--amarelo);
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto-maior);
    font-weight: 700;
}

#Formação h5 {
    color: var(--cinza);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto-maior);
}

#Formação h6 {
    color: var(--azul-claro);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(5%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Projetos */
#projetos {
    height: 100vh;
    background-color: var(--amarelo);
    padding: 150px 230px ;
}

#projetos h1 {
    color: var(--preto);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-titulo);
    width: 50%;

    background: transparent;
    position: relative;
    z-index: 1;
    margin: 0px;
}

#projetos h1::after {
    content: "";
    position: absolute;
    width: 22%;
    top: 83%;
    right: 35%;
    height: 5px;
    background: var(--preto);
    z-index: 0;
}

.slider {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: .7s;
    height: 355px;
    width: 330px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide p {
    color: var(--preto);
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto);
    padding-top: 25px;
}

.slide h3 {
    color: var(--preto);
    font-family: var(--Fonte-inter);
    font-size: 25px;
    padding-top: 10px;
}

/* Nevegação manual */

.navegação-manual {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.manual-btn {
    border: 2px solid var(--preto);
    padding: 5px;
    margin-top: 130px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}

#radio1:checked ~ .primeiroSlide {
    margin-left: 0;
}

#radio2:checked ~ .primeiroSlide {
    margin-left: -20%;
}

.slides {
    display: flex;
    gap: 35px;
}











/* Contato */
#contato {
    background-color: var(--preto);    
    gap: 30px;
    padding: 150px 230px;
}


.cima, .baixo {
    display: flex;
    gap: 40px;
}

.cima .texto h1 {
    color: var(--branco);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-titulo);
}

.cima .texto p {
    color: var(--branco);
    font-family: var(--Fonte-inter);
    font-size: var(--tamanho-texto);
}

.cima button {
    padding: var(--tamanho-botão);
    height: fit-content;
    background-color: var(--azul-claro);
    color: var(--branco);
    font-weight: 700;
    border-radius: var(--borda-botão);
    font-family: var(--Fonte-DMSANS);
    font-size: var(--tamanho-texto);
    cursor: pointer;
    align-self: center;
}

.cima a {
    align-self: center;
}

.baixo {
    padding-top: 80px;
}

.celular h3, .email h3 {
    color: var(--cinza);
    font-size: var(--tamanho-texto);
    font-family: var(--Fonte-inter);
}

.celular p a, .email p {
    color: var(--branco);
    font-size: var(--tamanho-texto-maior);
    font-family: var(--Fonte-inter);
}






/* Para dispositivos mobile */
@media (max-width: 768px) {
    #video-yt iframe {
        width: 95%;
    }

    .portfolio_logo {
        display: none;
    }
}